<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
    <style>
        .title-404 {
            align-items: center;
            align-content: center;
        }
        .h3 {
            font-weight: bold;
            font-size: 100px;
        }
    </style>
</head>

<body>

    <Center>
        <div class="title-404">
            <h3> 404 - Page not found</h3>
        </div>
    </Center>
</body>

</html>