<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body style="display: flex">
    <div class="fom">
        <div class="column">
            <form onsubmit="login(event)">
                <div class="title">Welcome Back</div>
                <div class="form-control">
                    <input type="email" id="email" name="email" placeholder="Enter email">
                </div>
                <br>
                <div class="form-control">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <br>
                <button type="submit" class="btn">Submit</button>
                <div id="error-div"></div>
            </form>
            <p>
                Don't have an account? <a href="/signup">Signup</a>
            </p>
        </div>
    </div>

    <script>
        const API_URL = "http://localhost:5000/api";
        const errorDiv = document.getElementById("error-div");

        async function login(event) {
            event.preventDefault();

            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            try {
                const res = await fetch(`${API_URL}/auth/login`, {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ email, password })
                });

                const data = await res.json();

                if (res.ok) {
                    localStorage.setItem("token", data.token);
                    alert("Logged in successfully!");
                    errorDiv.innerHTML = "";
                    window.location.href = "/index";
                } else {
                    errorDiv.innerHTML = "Login failed!";
                }
            } catch (error) {
                errorDiv.innerHTML = "Login failed!";
            }
        }
    </script>

</body>

</html>