<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body style="display: flex">
    <div class="fom">

        <div class="column">
            <form>
                <div class="title">Create An Account</div>
                <div class="form-control">
                    <input type="email" id="email" name "email" placeholder="Enter email">
                </div>
                <br>
                <div class="form-control">
                    <input type="password" id="password" name "password" placeholder="Password">
                </div>
                <br>
                <!--
                <div class="row">
                    <input type="checkbox" name="remember" id="remember">
                    <p>Remember me</p>
                </div> -->
                <button class="btn" onclick="register()">submit</button>
            </form>
            <p>
                Already have an account <a href="/login">Login</a>
            </p>
        </div>
    </div>

    <script>
        const API_URL = "http://localhost:5000/api";

        async function register() {

            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            const res = await fetch(`${API_URL}/auth/register`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ email, password }),
            });
             
            alert(res.ok ? "Registered successfully!" : "Registration failed.");
            window.location.href = "/login"; 
        }
    </script>

</body>

</html>